<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Hello World Servlet in OpenShift, built using S2I</display-name>
  <servlet>
    <servlet-name>PubServlet</servlet-name>
    <servlet-class>test.PubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PubServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
